@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply text-gray-600 font-medium
    }

    p, li, a, span {
        @apply text-gray-600
    }

    input, textarea, select {
        @apply outline-none
    }

    select {
        appearance: none;
        background-image: url('./assets/chevron-down.svg');
        background-size: 14px;
        background-repeat: no-repeat;
    }
    
    select#quantity {
        background-position: 75% 50%;
    }

    select#country {
        background-position: 95% 50%;
    }
}

@layer utilities {
   .active {
        @apply bg-gray-800 text-white 
    }
}
